{if empty($already_in_set)}
<div class="align-center">
    <p>{_wd($domain_url, 'If you want to create set of products - add new items to this product.')}</p>
    <ul class="menu-h empty-hide">
        <li>
            <a href="javascript:void(0)" id="itemsets-skus" data-toggle="{if (isset($set.split_set) && $set.split_set == '1') || !isset($set.split_set)}{_wd($domain_url, 'Merge sets and use one for all skus')}{else}{_wd($domain_url, 'Create sets for every sku')}{/if}"><i class="icon16 {if (isset($set.split_set) && $set.split_set == '1') || !isset($set.split_set)}split{else}merge{/if}"></i> <span>{if (isset($set.split_set) && $set.split_set == '1') || !isset($set.split_set)}{_wd($domain_url, 'Create sets for every sku')}{else}{_wd($domain_url, 'Merge sets and use one for all skus')}{/if}</span></a>
        </li>
    </ul>
</div>
<form action="?plugin=itemsets&module=product&action=save" method="post" id="itemsets-form">
    {if $wa->userRights('settings')}{$settings_page = sprintf('<a href="?action=plugins#/itemsets/" target="_blank">%s</a>', _wd($domain_url, 'settings page'))}{else}{$settings_page = _wd($domain_url, 'settings page')}{/if}
    {foreach from=$skus key=product_sku_id item=sku name=items}

    <div class="itemsets-block">
        {if isset($set.split_set) && $set.split_set == 0}
        <div class='itemsets-sku-block'><span class='itemsets-sku-number'>{$smarty.foreach.items.index+1}</span>({if !empty($sku['sku'])}{$sku['sku']}{else}{_w('SKU code')}{/if}) {if !empty($sku['name'])}{$sku['name']}{else}{_w('SKU name')}{/if}</div>
        {/if}
        <p class="align-center"><input type="text" class="itemsets-autocomplete" placeholder="{_w('Start typing product or SKU name')}" /> <span class='skus-search'><label><input type="checkbox" class='f-autocomplete-skus' style="vertical-align: middle;" /> {_wd($domain_url, 'Show all skus in search')}</label></span></p>
        <table class="zebra itemsets-table">
            <thead>
                <tr>
                    <th style="width: 63px;"></th>
                    <th style="width: 450px;">{_wd($domain_url, 'Product')}</th>
                    <th style='width: 150px;'></th>
                    <th>{_wd($domain_url, 'Quantity')}</th>
                    <th style='width: 200px;'>{_wd($domain_url, 'Discount')}</th>
                    <th style='width: 100px;'>{_wd($domain_url, 'Stock')}</th>
                    <th class="min-width"></th>
                </tr>
            </thead>
            <tbody>
                {$total_price = 0}
                {$discount_price = 0}

                {if isset($set.items[$product_sku_id]) || (!empty($set.items) && (!empty($set.split_set) || !isset($set.split_set)))}
                    {if !empty($set.split_set) || !isset($set.split_set)}
                        {$set_items = $set.items|@reset}
                    {else}
                        {$set_items = $set.items[$product_sku_id]}
                    {/if}
                    {foreach $set_items as $item}

                    {if $item.currency == '%'}
                        {$discount_price = $discount_price + $item.sku_price*$item.discount/100}
                    {else}
                        {$discount_price = $discount_price + $item.discount}
                    {/if}
                    {$total_price = $total_price + $item.sku_price}

                    <tr class='autocomplete-id-{$item.item_id}-{$item.item_sku_id} itemsets-item' data-id='{$item.item_id}-{$item.item_sku_id}'>
                        <td>
                            <a href='javascript:void(0)' class='f-up inline' title='{_wd($domain_url, 'up')}'><i class='icon16 upload'></i></a>
                            <a href='javascript:void(0)' class='f-down inline' title='{_wd($domain_url, 'down')}'><i class='icon16 download'></i></a>
                        </td>
                        <td>
                            <a href='#/product/{$item.item_id}/' target='_blank'><i class='icon16 cart'></i>
                                {$item.name}
                                <span class='itemsets-active-stock'>
                                    {if isset($item.stock)}
                                        {foreach $item.stock as $st_id => $st}
                                            <span class='itemsets-stock-{$st_id}'{if $item.sku_stock_id == $st_id} style='display: inline-block'{/if}>{$st.icon}</span>
                                        {/foreach}
                                    {/if}
                                    <span class='itemsets-stock-0'{if $item.sku_stock_id == 0} style='display: inline-block'{/if}>{shopHelper::getStockCountIcon($item['real_sku_count'], null, true)}</span>
                                </span>
                                {if $item.sku_name}<span class="hint">{$item.sku_name|escape}</span>{/if}
                            </a>
                        </td>
                        <td class='align-right f-item-price' data-price='{shop_currency($item.sku_price, null, null, false)}' data-price-original='{shop_currency($item.sku_price, null, null, false)}'>{shop_currency($item.sku_price)}</td>
                        <td><input type='text' name='items[{$product_sku_id}][{$item.item_id}-{$item.item_sku_id}][quantity]' class='short f-item-quantity js-ignore-change' placeholder="1" value="{$item.quantity}" onkeypress="$.itemsets.isValidInput(event, /[0-9]/);" /></td>
                        <td>
                            <input type='text' name='items[{$product_sku_id}][{$item.item_id}-{$item.item_sku_id}][discount]' class='short f-item-discount js-ignore-change' value="{$item.discount}"/>
                            <select name="items[{$product_sku_id}][{$item.item_id}-{$item.item_sku_id}][currency]" class="f-item-currency">
                                <option {if $item.currency == '%'}selected{/if} value="%">%</option>
                                {foreach $currencies as $c}
                                <option {if $item.currency == $c.code}selected{/if} value="{$c.code}">{$c.sign} {$c.code}</option>
                                {/foreach}
                            </select>
                        </td>
                        <td>
                            <select name="items[{$product_sku_id}][{$item.item_id}-{$item.item_sku_id}][stock_id]" class="itemsets-stocks">
                                <option value="0"{if $item.sku_stock_id == 0} selected{/if}>--- {_wd($domain_url, 'Automatically')} ---</option>
                                {if isset($item.stock)}
                                    {foreach $item.stock as $st_id2 => $st2}
                                    <option value="{$st_id2}"{if $item.sku_stock_id == $st_id2} selected{/if}>{$st2.name}</option>
                                    {/foreach}
                                {/if}
                            </select>
                        </td>
                        <td>
                            <a href='javascript:void(0)' class='f-itemsets-delete' title='{_wd($domain_url, 'Delete')}'><i class='icon16 delete'></i></a>
                        </td>
                    </tr>

                    {/foreach}
                {/if}

                {$discount = $total_price - $discount_price}
                {if $discount < 0}{$discount = $total_price}{/if}

                <tr class='itemsets-template itemsets-item'>
                    <td>
                        <a href='javascript:void(0)' class='f-up inline' title='{_wd($domain_url, 'up')}'><i class='icon16 upload'></i></a>
                        <a href='javascript:void(0)' class='f-down inline' title='{_wd($domain_url, 'down')}'><i class='icon16 download'></i></a>
                    </td>
                    <td>
                        <a href='' class="f-item-name" target='_blank'><i class='icon16 cart'></i>
                            <span class='itemsets-active-stock'>
                                <span class='itemsets-stock-0' style="display: inline-block;"></span>
                            </span>
                        </a>
                    </td>
                    <td class='align-right f-item-price'></td>
                    <td><input type='text' name='items[][][quantity]' disabled class='short f-item-quantity js-ignore-change' placeholder="1" onkeypress="$.itemsets.isValidInput(event, /[0-9]/);" value="" /></td>
                    <td>
                        <input type='text' name='items[][][discount]' disabled class='short f-item-discount js-ignore-change'  value=""/>
                        <select name="items[][][currency]" disabled class="f-item-currency">
                            <option value="%">%</option>
                            {foreach $currencies as $c}
                            <option value="{$c.code}">{$c.sign} {$c.code}</option>
                            {/foreach}
                        </select>
                    </td>
                    <td>
                        <select name="items[][][stock_id]" class="itemsets-stocks" disabled style="display: none;">
                            <option value="0">--- {_wd($domain_url, 'Automatically')} ---</option>
                        </select>
                        <div class="align-center"><i class="icon16 loading"></i></div>
                    </td>
                    <td>
                        <a href='javascript:void(0)' class='f-itemsets-delete' title='{_wd($domain_url, 'Delete')}'><i class='icon16 delete'></i></a>
                    </td>
                </tr>

                <tr class="hint empty-set{if $set} hidden{/if}">
                    <td colspan="7">{_wd($domain_url, 'You have no products in the set')}</td>
                </tr>

                <tr class='align-right bordered-top white top-padded is-empty-hide{if !$set} hidden{/if}'>
                    <td colspan='6'>
                        {_wd($domain_url, 'Select how to spread stocks')}
                        <select name="settings[{if !empty($set.split_set) || !isset($set.split_set)}spread_stock{else}{$sku.id}{/if}]" class="stock-spread">
                            <option value="0">--- {_wd($domain_url, 'Automatically ')} ---</option>
                            {if $stocks}
                                {foreach $stocks as $st}
                                    <option value="{$st.id}" {if (!empty($set[$sku.id]) && $set[$sku.id] == $st.id) || (!empty($set.spread_stock) && $set.spread_stock == $st.id)} selected{/if}>{$st.name|escape}</option>
                                {/foreach}
                            {/if}
                        </select>
                    </td>
                </tr>
                <tr class='align-right bordered-top white top-padded is-empty-hide{if !$set} hidden{/if}'>
                    <td colspan='5'>{_wd($domain_url, 'Price without discount')}</td>
                    <td class='itemsets-total-price' colspan="2">{shop_currency($total_price)}</td>
                    <input type='hidden' name='itemsets-product' id ="itemsets-product" value='{$product_id}'>
                    <input type="hidden" disabled class='product_sku_id' value='{$product_sku_id}' />
                </tr>
                <tr class='align-right white is-empty-hide{if !$set} hidden{/if}'>
                    <td colspan='5'>{_wd($domain_url, 'Price with discount')}</td>
                    <td class='bold red itemsets-discount-price' colspan="2">{shop_currency($discount)}</td>
                </tr>
            </tbody>
        </table>
    </div>

    {if !empty($set.split_set) || !isset($set.split_set)}{break}{/if}
    {/foreach}

    <div class="errormsg align-center"></div>
    <fieldset id="itemsets-settings" class='empty-hide'>
        <legend>{_wd($domain_url, 'Set settings')}</legend>
        <div class="fields">
            <div class="field">
                <div class="name">{_wd($domain_url, 'Show set items')}</div>
                <div class="value">
                    <label><input type="radio" name="settings[show_items]" value="1" {if !empty($set.show_items) && $set.show_items == '1'}checked{/if} /> {_wd($domain_url, 'Yes')}</label>
                    <label><input type="radio" name="settings[show_items]" value="0" {if isset($set.show_items) && $set.show_items == '0'}checked{/if}/> {_wd($domain_url, 'No')}</label>
                    <label><input type="radio" name="settings[show_items]" value="-1" {if (isset($set.show_items) && $set.show_items == '-1') || !isset($set.show_items)}checked{/if}/> {_wd($domain_url, 'Use default value')}</label>
                    <div class="hint">{_wd($domain_url, 'User will see or not the items of the set on the product page')}</div>
                    <div class="hint">{sprintf(_wd($domain_url, 'You can edit default value on the %s'), $settings_page)}</div>
                </div>
            </div>
            <div class="field">
                <div class="name">{_wd($domain_url, 'Control product stocks count')}</div>
                <div class="value">
                    <label><input type="radio" name="settings[control_stocks]" class="control_stocks" value="1" {if (!empty($set.control_stocks) && $set.control_stocks == '1') || !isset($set.control_stocks)}checked{/if} /> {_wd($domain_url, 'Yes')}</label>
                    <label><input type="radio" name="settings[control_stocks]" class="control_stocks" value="0" {if isset($set.control_stocks) && $set.control_stocks == '0'}checked{/if}/> {_wd($domain_url, 'No')}</label>
                    <label><input type="radio" name="settings[control_stocks]" class="control_stocks" value="-1" {if (isset($set.control_stocks) && $set.control_stocks == '-1') || !isset($set.control_stocks)}checked{/if}/> {_wd($domain_url, 'Use default value')}</label>
                    <div class="hint">{_wd($domain_url, 'Product stocks count will be automatically controlled and depends upon set items.')}</div>
                    <div class="hint">{sprintf(_wd($domain_url, 'You can edit default value on the %s'), $settings_page)}</div>
                </div>
            </div>
            <div class="field">
                <div class="name">{_wd($domain_url, 'Automatically change product price, when set items prices and quantity change')}</div>
                <div class="value">
                    <label><input type="radio" name="settings[change_price]" class="change_price" {if isset($set.change_price) && $set.change_price == '1'}checked{/if} value="1" /> {_wd($domain_url, 'Yes')}</label>
                    <label><input type="radio" name="settings[change_price]" class="change_price" {if isset($set.change_price) && $set.change_price == '0'}checked{/if} value="0" /> {_wd($domain_url, 'No')}</label>
                    <label><input type="radio" name="settings[change_price]" class="change_price" {if (isset($set.change_price) && $set.change_price == '-1') || !isset($set.change_price)}checked{/if} value="-1" /> {_wd($domain_url, 'Use default value')}</label>
                    <div class="hint">{sprintf(_wd($domain_url, 'You can edit default value on the %s'), $settings_page)}</div>
                </div>
            </div>
            <div class="field">
                <div class="name">{_wd($domain_url, 'Do you want to round price?')}</div>
                <div class="value">
                    <label><input type="radio" name="settings[round_price]" class="round_price" {if !empty($set.round_price) && $set.round_price == 'ceil'}checked{/if} value="ceil" /> {_wd($domain_url, 'Ceil')}</label>
                    <label><input type="radio" name="settings[round_price]" class="round_price" {if !empty($set.round_price) && $set.round_price == 'floor'}checked{/if} value="floor" /> {_wd($domain_url, 'Floor')}</label>
                    <label><input type="radio" name="settings[round_price]" class="round_price" {if (!empty($set.round_price) && $set.round_price == 'not') || empty($set.round_price)}checked{/if} value="not" /> {_wd($domain_url, 'Not round')}</label>
                </div>
            </div>
        </div>
        <input type="hidden" name="settings[split_set]" class='itemsets-split-set' value="{if (isset($set.split_set) && $set.split_set == '1') || !isset($set.split_set)}1{else}0{/if}" />
    </fieldset>
</form>
<script type="text/javascript">
    $(function () {
        $.itemsets.init({
            "currency": {json_encode($currency)},
            "currencies": {json_encode($currencies)}
        });
    });
</script>
{else}
    <div class="align-center">
        <p>{_wd($domain_url, 'The product is already in the set. It\'s forbidden to have set inside the other set.')}</p>
        <p>{_wd($domain_url, 'Product-sets, containing the product')}:</p>
        <ul style="display: inline-block; margin: 0">
        {foreach $products as $p}
            <li><a href="?action=products#/product/{$p.id}/">{$p.name|escape}</a></li>
        {/foreach}
        </ul>
    </div>
{/if}
<script type="text/javascript">
    $(function() {
        $.wa.locale = $.extend(true, $.wa.locale, {
            'Saving': '{_wd($domain_url, 'Saving')}',
            'Recount stocks and change their quantity automatically?': '{_wd($domain_url, 'Recount stocks and change their quantity automatically?')}',
            'Something wrong': '{_wd($domain_url, 'Something wrong')}'
        });
    });
</script>