{if !empty($template)}
    <script type="text/javascript">
        $(function () {
            waEditorAceInit({
                'id': 'itemsets-{$template_id}',
                'ace_editor_container': 'itemsets-{$template_id}-container',
                'save_button': 'itemsets-save',
                'type': 'html'
            });
            wa_editor.clearSelection();
            $.itemsets.editor['itemsets-{$template_id}'] = wa_editor;
            $.itemsets.editor['itemsets-{$template_id}'].on('change', function () {
                $("#itemsets-form .restore-styles.template-{$template_id}").show();
            });
        });
    </script>
    <!-- editor -->
    <textarea name="template[{$template_name}]" id="itemsets-{$template_id}">{$template}</textarea>
    <div class="ace">
        <div id="itemsets-{$template_id}-container"></div>
    </div>
{/if}