{$locale_data = [
    'en_US' => [
        'Image' => 'Image',
        'Name' => 'Name',
        'Price' => 'Price',
        'Qty' => 'Qty'
    ],
    'ru_RU' => [
        'Image' => 'Изображение',
        'Name' => 'Название',
        'Price' => 'Цена',
        'Qty' => 'Кол-во'
    ],
    'YOUR_LOCALE' => [
        'Image' => 'Image',
        'Name' => 'Name',
        'Price' => 'Price',
        'Qty' => 'Qty'
    ]
]}

{* SYSTEM FUNCTION. DON'T REMOVE / Системная функция. Не удалять  *}
{function name=translate locale=$current_locale}
    {if isset($message)}
        {if isset($locale_data[$current_locale][$message])}
            {$locale_data[$current_locale][$message]}
        {else}
            {$message}
        {/if}
    {/if}
{/function}
{* END / Конец *}

{if !empty($products)}
    <table class="itemsets-zebra" cellspacing='0' cellpadding='0'>
        <thead>
            <tr>
                <th class='align-center'>{translate message='Image'}</th>
                <th>{translate message='Name'}</th>
                <th class='align-center'>{translate message='Price'}</th>
                <th class='align-center'>{translate message='Qty'}</th>
                <th></th>
            </tr>
        </thead>
        <tbody class='product-list'>
            {$product_images = $wa->shop->images(waUtils::getFieldValues($products, 'id'))}
            {foreach $products as $p}
            <tr>
                <td class='align-center'>
                    <a href="{$p.frontend_url|escape}" title="{$p.name|escape}{if $p.summary} &ndash; {strip_tags($p.summary)|escape}{/if}">
                        {*$wa->shop->productImgHtml($p, '50', ['itemprop' => 'image', 'alt' => $p.name])*}

                        {$wa->shop->productImgHtml(["image_id" => $p.image_id, "id" => $p.id, "ext" => $product_images[$p.id][$p.image_id].ext, "image_filename" => $product_images[$p.id][$p.image_id].filename ], '96x96', ['itemprop' => 'image', 'alt' => $p.name])}
                    </a>
                </td>
                <td>
                    <a href="{$p.frontend_url|escape}" title="{$p.name|escape}{if $p.summary} &ndash; {strip_tags($p.summary)|escape}{/if}">
                        {$p.name}
                    </a>
                </td>
                <td>
                    {if $p.compare_price}<span class="itemsets-compare-price">{if $ruble == 'html'}{shop_currency_html($p.compare_price)}{else}{shop_currency($p.compare_price)}{/if}</span>{/if}
                    {if $ruble == 'html'}{shop_currency_html($p.price)}{else}{shop_currency($p.price)}{/if}
                </td>
                <td class='align-center'>
                    {$p.quantity}
                </td>
                <td>
                    <form class="addtocart" method="post" {if $p.sku_count > 1}data-url="{$p.frontend_url}?cart=1"{/if} action="{$wa->getUrl('/frontendCart/add')}">
                        {*if $wa->shop->settings('ignore_stock_count') || $p.count === null || $p.count > 0}
                            <input type="hidden" name="product_id" value="{$p.id}">
                            <input type="submit" value="{_w('Add to cart')}">
                        {else}
                            <input type="submit" value="" class="disabled" disabled="disabled" title="{_w('Out of stock')}">
                        {/if*}
                    </form>
                </td>
            </tr>
            {/foreach}
        </tbody>
    </table>
{/if}